@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&family=Ysabeau+Infant:wght@300;500;600;700&display=swap");
body {
  font-family: "Oswald", sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #5d3891; /* Cor de fundo do cabeçalho */
  color: white;
  text-align: center;
  padding: 13px 0; /* Espaçamento superior e inferior aumentado */
}
h1 {
  margin: 0;
  padding: 0;
  letter-spacing: 3px;
}
.subtitle {
  margin: 0;
  padding: 0;
  color: #ff9109;
  font-size: 54px;
  letter-spacing: 6px;
  margin-top: -20px;
}
.icon-midia {
  width: 24px;
  height: 23px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 0px;
  cursor: pointer;
}
h3 {
  color: #ff9109;
  font-size: 44px;
  margin: 0px;
  padding: 0px;
  border-bottom: 6px solid #5d3891;
  border-radius: 8px;
  font-weight: 400;
}
.card-rifa {
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  max-width: 600px; /* Aumento da largura máxima */
  background-color: white;
  margin: 20px; /* Espaçamento externo */
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px; /* Espaçamento inferior aumentado */
}

h2 {
  font-size: 1.5rem;
  margin: 0;
  color: #5d3891; /* Cor do título */
}

p {
  font-size: 1.2rem;
  margin-bottom: 15px; /* Espaçamento inferior aumentado */
}
.container-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  background-color: #f5f5f5;
  color: #ff9109;
  width: auto;
  height: 30px;
  border-radius: 8px;
  border-color: transparent;
}
.color-button {
  color: #ff9109;
  text-decoration: none;
  font-size: 18px;
}
